/* 3d section*/
.section2 {

}

/* 3d and lightswitch? */
.d {
  margin: 2em;
  display: flex;
  justify-content: space-evenly;
}

.dtitle {
  font-weight: 700;
  font-size: 15vmin;
}


/* youtube video*/
.flow {
  position: absolute;
  margin-left: 2em;
  z-index: -1;
  top: 80.4%;
}
.kids {
  position: absolute;
  margin-left: 65%;
  z-index: -1;
  top: 93.4%;
}

/* arrow */
.try {
  transform:;
  top: 70em;
  margin-left: 55%;
  position: absolute;
  transform: scale(0.3)  rotate(160deg);
}

.trytext {
  color: white;
 transform: scale(1.2) rotate(-15deg);
  position: absolute;
  margin-left: 75%;
  top: 85em;
}


/*code editor*/




/* cube */
.section4 {
  background: #171a1b;
  padding: 2em;
  background-image: linear-gradient(#363636 1px, transparent 1px), 
    linear-gradient(90deg, #363636 1px, transparent 1px);
	 background-size: 16px 16px, 16px 16px, 2px 2px, 2px 2px;
  color: white;
}

.cube {
	 height: 100vh;
   
	 color: white;
	 font-family: "DIN Alternate";
	 text-align: center;
}
 #cube-container {
	 box-sizing: border-box;
	 transform-style: preserve-3d;
	 top: 50%;
	 left: 50%;
	 position: relative;
	 width: 250px;
	 height: 250px;
	 transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	 transform: translate(-50%, -50%);
}
 #cube-container .face {
	 width: 250px;
	 height: 250px;
	 position: absolute;
	 border: 2px solid #ed3403;
	 background: rgba(237, 40, 26, 0.4);
	 box-shadow: 0px 0px 150px #ed3403;
}
 #cube-container .face.top {
	 transform: rotateX(90deg);
	 margin-top: -50%;
}
 #cube-container .face.right {
	 transform: rotateY(90deg);
	 margin-left: 50%;
}
 #cube-container .face.left {
	 transform: rotateY(-90deg);
	 margin-left: -50%;
}
 #cube-container .face.bottom {
	 transform: rotateX(90deg);
	 margin-top: 50%;
}
 #cube-container .face.back {
	 transform: translateZ(125px);
}
 #cube-container .face.front {
	 transform: translateZ(-125px);
}
 #cube-container:hover {
	 transform: rotateX(-25deg) rotateY(-40deg) translate(-50%, -50%);
	 transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}




/* lightswitch */

#section3 {
  background: #dbdbdb;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2em;
  display: flex;
  justify-content: center;
}

 .panel {
   display: flex;
  justify-content: center;
    font-size: 62.5%;
   font-size: 1.6rem;
	 position: relative;
	 width: 24rem;
	 height: 36rem;
	 background-color: #eee;
	 border-radius: 2px;
	 border-width: 1rem 0.6rem 0.3rem 0.6rem;
	 border-style: solid;
	 border-color: #fff #ccc #aaa #ddd;
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
	 flex-direction: column;
	 box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.15);
}
 .panel::before, .panel::after {
    font-size: 62.5%;
   font-size: 1.6rem;

	 content: '';
	 display: block;
	 width: 2.5rem;
	 height: 2.5rem;
	 border: solid 1rem #bbb;
	 background-color: #777;
	 border-width: 1.1rem 0 1.1rem;
	 border-radius: 1.5rem;
	 box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5), 0px -1px 0px 0px rgba(255, 255, 255, 0.5);
}
 .panel::before {
    font-size: 62.5%;
   font-size: 1.6rem;
   box-sizing: border-box;
	 transform: rotate(30deg);
}
 .panel::after {
    font-size: 62.5%;
   font-size: 1.6rem;
   box-sizing: border-box;
	 transform: rotate(-10deg);
}
 .panel input {
    font-size: 62.5%;
   font-size: 1.6rem;
	 display: none;
}
 .panel label {
    font-size: 62.5%;
   font-size: 1.6rem;
	 display: block;
	 position: relative;
	 background-color: #aaa;
	 overflow: hidden;
	 display: flex;
	 justify-content: center;
	 width: 5rem;
	 height: 10rem;
	 cursor: pointer;
	 transition: all 0.2s;
	 border-radius: 2px;
	 box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) inset;
	 border-style: solid;
	 border-width: 3px 2px 4px 2px;
	 border-color: #aaa #999 #ddd #999;
}
 .panel label::before, .panel label::after {
    font-size: 62.5%;
   font-size: 1.6rem;

	 content: '';
	 display: block;
	 position: absolute;
}
 .panel label::before {
    font-size: 62.5%;
   font-size: 1.6rem;
   
	 transition: all 0.2s;
	 width: 95%;
	 height: 5rem;
	 background-color: #ccc;
	 border-style: solid;
	 border-width: 0.5rem 2px 2rem 2px;
	 border-color: #eee #aaa #888 #ddd;
	 top: 0;
	 box-shadow: 0px 2.5rem 2px rgba(0, 0, 0, 0.1);
	 z-index: 1;
}
 .panel label::after {
    font-size: 62.5%;
   font-size: 1.6rem;
   box-sizing: border-box;
	 transition: bottom 0.2s;
	 content: 'ON';
	 bottom: 6.2rem;
	 transform: translateY(5rem);
	 color: #af7;
	 z-index: 3;
	 opacity: 0.75;
	 text-shadow: 0px 0px 0.7rem #bf9, 0px 0px 2rem #bf9;
}
/* dark */
.panel .overlay {
    font-size: 62.5%;
   font-size: 1.6rem;
	 transition: background-color 0.3s 0.1s, opacity 0.3s 0.1s;
	 position: fixed;
	 width: 100%;
	 height: 100%;
	 z-index: 2;
	 pointer-events: none;
	 opacity: 0.75;
	 background-color: #081020;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
}
 @supports (mix-blend-mode: darken) {
	 mix-blend-mode: darken;
}
 .panel #switch:checked ~ label {
    font-size: 62.5%;
   font-size: 1.6rem;
	 background-color: #c9c9c9;
	 border-color: #aaa #999 #a5a5a5 #999;
	 box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.1) inset, 0px 2rem 0px -1px rgba(0, 0, 0, 0.2);
}
 .panel #switch:checked ~ label::before {
    font-size: 62.5%;
   font-size: 1.6rem;
   box-sizing: border-box;
	 top: 4.5rem;
	 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
	 border-width: 2rem 2px 0.5rem 2px;
}
 .panel #switch:checked ~ label::after {
    font-size: 62.5%;
   font-size: 1.6rem;
   box-sizing: border-box;
	 content: 'OFF';
	 bottom: 0.9rem;
	 color: #b87;
	 z-index: 0;
	 opacity: 1;
	 text-shadow: none;
	 transform: translateY(-5rem);
}
 .panel #switch:checked ~ .overlay {
	 opacity: 0;
}
 @supports (mix-blend-mode: darken) {
	 opacity: 0.9;
	 background-color: #fffcf3;
}


/* 3d element */
.rotate {
	 font-family: "Quicksand", sans-serif;
	 font-weight: 700;
	 perspective: 60rem;
	 perspective-origin: 50% 50%;
}

.rotate .move {
	 user-select: none;
}
.rotate .move > div {
	 display: inline-block;

	 font-size: 15vmin;
	 color: transparent;
	 transform-origin: center center;
	 transform-style: preserve-3d;
	 animation: float 4s infinite;
}
.rotate .move > div:nth-child(1) {
	 animation-delay: -1.5s;
}
.rotate .move > div:nth-child(2) {
	 animation-delay: -1s;
}
.rotate .move > div:nth-child(3) {
	 animation-delay: -0.5s;
}
.rotate .move > div:nth-child(4) {
	 animation-delay: 0s;
}
.rotate .move > div > div {
	 position: absolute;
	 top: 0;
	 left: 0;
	 color: black;
	 text-shadow: 0 0 1px white;
}
.rotate .move > div > div:not(:nth-child(n+3)), body .text > div > div:not(:nth-last-child(n+3)) {

	 text-shadow: 0 0 1px #fff;
}
.rotate .move > div > div:nth-child(1) {
	 transform: translateZ(-2.9166666667vmin);
}
 .rotate .move > div > div:nth-child(2) {
	 transform: translateZ(-2.3333333333vmin);
}
.rotate .move > div > div:nth-child(3) {
	 transform: translateZ(-1.75vmin);
}
.rotate .move > div > div:nth-child(4) {
	 transform: translateZ(-1.1666666667vmin);
}
.rotate .move > div > div:nth-child(5) {
	 transform: translateZ(-0.5833333333vmin);
}
.rotate .move > div > div:nth-child(6) {
	 transform: translateZ(0vmin);
}
.rotate .move > div > div:nth-child(7) {
	 transform: translateZ(0.5833333333vmin);
}
.rotate .move > div > div:nth-child(8) {
	 transform: translateZ(1.1666666667vmin);
}
.rotate .move > div > div:nth-child(9) {
	 transform: translateZ(1.75vmin);
}
.rotate .move > div > div:nth-child(10) {
	 transform: translateZ(2.3333333333vmin);
}
.rotate .move > div > div:nth-child(11) {
	 transform: translateZ(2.9166666667vmin);
}
.rotate .move > div > div:nth-child(12) {
	 transform: translateZ(3.5vmin);
}
 @keyframes float {
	 0% {
		 transform: rotate3d(0, 1, 0, 30deg);
	}
	 1% {
		 transform: rotate3d(0.0627905195, 0.9980267284, 0, 30deg);
	}
	 2% {
		 transform: rotate3d(0.1253332336, 0.9921147013, 0, 30deg);
	}
	 3% {
		 transform: rotate3d(0.1873813146, 0.9822872507, 0, 30deg);
	}
	 4% {
		 transform: rotate3d(0.2486898872, 0.9685831611, 0, 30deg);
	}
	 5% {
		 transform: rotate3d(0.3090169944, 0.9510565163, 0, 30deg);
	}
	 6% {
		 transform: rotate3d(0.3681245527, 0.9297764859, 0, 30deg);
	}
	 7% {
		 transform: rotate3d(0.4257792916, 0.9048270525, 0, 30deg);
	}
	 8% {
		 transform: rotate3d(0.4817536741, 0.87630668, 0, 30deg);
	}
	 9% {
		 transform: rotate3d(0.535826795, 0.8443279255, 0, 30deg);
	}
	 10% {
		 transform: rotate3d(0.5877852523, 0.8090169944, 0, 30deg);
	}
	 11% {
		 transform: rotate3d(0.6374239897, 0.7705132428, 0, 30deg);
	}
	 12% {
		 transform: rotate3d(0.6845471059, 0.7289686274, 0, 30deg);
	}
	 13% {
		 transform: rotate3d(0.7289686274, 0.6845471059, 0, 30deg);
	}
	 14% {
		 transform: rotate3d(0.7705132428, 0.6374239897, 0, 30deg);
	}
	 15% {
		 transform: rotate3d(0.8090169944, 0.5877852523, 0, 30deg);
	}
	 16% {
		 transform: rotate3d(0.8443279255, 0.535826795, 0, 30deg);
	}
	 17% {
		 transform: rotate3d(0.87630668, 0.4817536741, 0, 30deg);
	}
	 18% {
		 transform: rotate3d(0.9048270525, 0.4257792916, 0, 30deg);
	}
	 19% {
		 transform: rotate3d(0.9297764859, 0.3681245527, 0, 30deg);
	}
	 20% {
		 transform: rotate3d(0.9510565163, 0.3090169944, 0, 30deg);
	}
	 21% {
		 transform: rotate3d(0.9685831611, 0.2486898872, 0, 30deg);
	}
	 22% {
		 transform: rotate3d(0.9822872507, 0.1873813146, 0, 30deg);
	}
	 23% {
		 transform: rotate3d(0.9921147013, 0.1253332336, 0, 30deg);
	}
	 24% {
		 transform: rotate3d(0.9980267284, 0.0627905195, 0, 30deg);
	}
	 25% {
		 transform: rotate3d(1, 0, 0, 30deg);
	}
	 26% {
		 transform: rotate3d(0.9980267284, -0.0627905195, 0, 30deg);
	}
	 27% {
		 transform: rotate3d(0.9921147013, -0.1253332336, 0, 30deg);
	}
	 28% {
		 transform: rotate3d(0.9822872507, -0.1873813146, 0, 30deg);
	}
	 29% {
		 transform: rotate3d(0.9685831611, -0.2486898872, 0, 30deg);
	}
	 30% {
		 transform: rotate3d(0.9510565163, -0.3090169944, 0, 30deg);
	}
	 31% {
		 transform: rotate3d(0.9297764859, -0.3681245527, 0, 30deg);
	}
	 32% {
		 transform: rotate3d(0.9048270525, -0.4257792916, 0, 30deg);
	}
	 33% {
		 transform: rotate3d(0.87630668, -0.4817536741, 0, 30deg);
	}
	 34% {
		 transform: rotate3d(0.8443279255, -0.535826795, 0, 30deg);
	}
	 35% {
		 transform: rotate3d(0.8090169944, -0.5877852523, 0, 30deg);
	}
	 36% {
		 transform: rotate3d(0.7705132428, -0.6374239897, 0, 30deg);
	}
	 37% {
		 transform: rotate3d(0.7289686274, -0.6845471059, 0, 30deg);
	}
	 38% {
		 transform: rotate3d(0.6845471059, -0.7289686274, 0, 30deg);
	}
	 39% {
		 transform: rotate3d(0.6374239897, -0.7705132428, 0, 30deg);
	}
	 40% {
		 transform: rotate3d(0.5877852523, -0.8090169944, 0, 30deg);
	}
	 41% {
		 transform: rotate3d(0.535826795, -0.8443279255, 0, 30deg);
	}
	 42% {
		 transform: rotate3d(0.4817536741, -0.87630668, 0, 30deg);
	}
	 43% {
		 transform: rotate3d(0.4257792916, -0.9048270525, 0, 30deg);
	}
	 44% {
		 transform: rotate3d(0.3681245527, -0.9297764859, 0, 30deg);
	}
	 45% {
		 transform: rotate3d(0.3090169944, -0.9510565163, 0, 30deg);
	}
	 46% {
		 transform: rotate3d(0.2486898872, -0.9685831611, 0, 30deg);
	}
	 47% {
		 transform: rotate3d(0.1873813146, -0.9822872507, 0, 30deg);
	}
	 48% {
		 transform: rotate3d(0.1253332336, -0.9921147013, 0, 30deg);
	}
	 49% {
		 transform: rotate3d(0.0627905195, -0.9980267284, 0, 30deg);
	}
	 50% {
		 transform: rotate3d(0, -0.9999999999, 0, 30deg);
	}
	 51% {
		 transform: rotate3d(-0.0627905195, -0.9980267283, 0, 30deg);
	}
	 52% {
		 transform: rotate3d(-0.1253332335, -0.9921147011, 0, 30deg);
	}
	 53% {
		 transform: rotate3d(-0.1873813145, -0.9822872505, 0, 30deg);
	}
	 54% {
		 transform: rotate3d(-0.2486898871, -0.9685831607, 0, 30deg);
	}
	 55% {
		 transform: rotate3d(-0.3090169943, -0.9510565157, 0, 30deg);
	}
	 56% {
		 transform: rotate3d(-0.3681245525, -0.929776485, 0, 30deg);
	}
	 57% {
		 transform: rotate3d(-0.4257792914, -0.9048270511, 0, 30deg);
	}
	 58% {
		 transform: rotate3d(-0.4817536738, -0.8763066781, 0, 30deg);
	}
	 59% {
		 transform: rotate3d(-0.5358267945, -0.8443279226, 0, 30deg);
	}
	 60% {
		 transform: rotate3d(-0.5877852516, -0.8090169902, 0, 30deg);
	}
	 61% {
		 transform: rotate3d(-0.6374239888, -0.7705132368, 0, 30deg);
	}
	 62% {
		 transform: rotate3d(-0.6845471045, -0.7289686189, 0, 30deg);
	}
	 63% {
		 transform: rotate3d(-0.7289686253, -0.6845470938, 0, 30deg);
	}
	 64% {
		 transform: rotate3d(-0.7705132398, -0.6374239727, 0, 30deg);
	}
	 65% {
		 transform: rotate3d(-0.8090169901, -0.5877852283, 0, 30deg);
	}
	 66% {
		 transform: rotate3d(-0.8443279194, -0.5358267614, 0, 30deg);
	}
	 67% {
		 transform: rotate3d(-0.8763066715, -0.4817536274, 0, 30deg);
	}
	 68% {
		 transform: rotate3d(-0.9048270404, -0.425779227, 0, 30deg);
	}
	 69% {
		 transform: rotate3d(-0.9297764691, -0.3681244637, 0, 30deg);
	}
	 70% {
		 transform: rotate3d(-0.9510564929, -0.3090168724, 0, 30deg);
	}
	 71% {
		 transform: rotate3d(-0.9685831287, -0.2486897207, 0, 30deg);
	}
	 72% {
		 transform: rotate3d(-0.9822872061, -0.1873810883, 0, 30deg);
	}
	 73% {
		 transform: rotate3d(-0.9921146401, -0.1253329274, 0, 30deg);
	}
	 74% {
		 transform: rotate3d(-0.9980266448, -0.0627901069, 0, 30deg);
	}
	 75% {
		 transform: rotate3d(-0.9999998862, 0.0000005537, 0, 30deg);
	}
	 76% {
		 transform: rotate3d(-0.9980265742, 0.0627912598, 0, 30deg);
	}
	 77% {
		 transform: rotate3d(-0.9921144932, 0.1253342195, 0, 30deg);
	}
	 78% {
		 transform: rotate3d(-0.982286971, 0.1873826227, 0, 30deg);
	}
	 79% {
		 transform: rotate3d(-0.9685827866, 0.2486916166, 0, 30deg);
	}
	 80% {
		 transform: rotate3d(-0.9510560166, 0.3090192726, 0, 30deg);
	}
	 81% {
		 transform: rotate3d(-0.9297758216, 0.3681275437, 0, 30deg);
	}
	 82% {
		 transform: rotate3d(-0.9048261725, 0.425783205, 0, 30deg);
	}
	 83% {
		 transform: rotate3d(-0.8763055184, 0.4817587777, 0, 30deg);
	}
	 84% {
		 transform: rotate3d(-0.8443263971, 0.5358334293, 0, 30deg);
	}
	 85% {
		 transform: rotate3d(-0.80901499, 0.5877938496, 0, 30deg);
	}
	 86% {
		 transform: rotate3d(-0.7705106226, 0.6374350969, 0, 30deg);
	}
	 87% {
		 transform: rotate3d(-0.7289652129, 0.6845614127, 0, 30deg);
	}
	 88% {
		 transform: rotate3d(-0.6845426698, 0.7289870018, 0, 30deg);
	}
	 89% {
		 transform: rotate3d(-0.6374182434, 0.7705367741, 0, 30deg);
	}
	 90% {
		 transform: rotate3d(-0.5877778306, 0.8090470459, 0, 30deg);
	}
	 91% {
		 transform: rotate3d(-0.5358172367, 0.8443661994, 0, 30deg);
	}
	 92% {
		 transform: rotate3d(-0.4817413984, 0.876355296, 0, 30deg);
	}
	 93% {
		 transform: rotate3d(-0.4257635689, 0.904888644, 0, 30deg);
	}
	 94% {
		 transform: rotate3d(-0.3681044689, 0.9298543169, 0, 30deg);
	}
	 95% {
		 transform: rotate3d(-0.3089914068, 0.9511546228, 0, 30deg);
	}
	 96% {
		 transform: rotate3d(-0.2486573708, 0.9687065223, 0, 30deg);
	}
	 97% {
		 transform: rotate3d(-0.1873400968, 0.9824419959, 0, 30deg);
	}
	 98% {
		 transform: rotate3d(-0.1252811139, 0.9923083591, 0, 30deg);
	}
	 99% {
		 transform: rotate3d(-0.062724773, 0.9982685263, 0, 30deg);
	}
	 100% {
		 transform: rotate3d(0.000082741, 1.000301224, 0, 30deg);
	}
}
